

<br>
<div class="container text-bg-info" > About</div>
<br>
<hr>
<h1 class="text-uppercase">What we are :-</h1>
<p class="m-2">

“Attendance Management System” is software developed for
maintaining the attendance of the student on the daily basis in the collage. Here thestaffs, who are handling the subjects, will be responsible to mark the attendance of thestudents. Each staff will be given with a separate username and password based onthe subject they handle. An accurate report based on the student attendance isgenerated here. This system will also help in evaluating attendance eligibility criteria
of a student. Report of the student’s at
tendance on weekly and monthly basis isgenerated
</p>