<div id="generateAttendance">
    <div class="head"><h1 class="text-center bg-info p-4">STUDENT ATTENDANCE REPORT</h1>
    <button class="btn btn-info" routerLink="../studentSection">Student Section</button></div>
 </div>
<div class="row ">
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="profile"></div>
        <div class="card-body">
          <h5 class="card-title">Ram Narayana</h5>
          <ul>
            <li>Total Present Days :-</li> <span >20 </span>
            <li>Total Absent  Days :-</li> <span>8 </span>
            <li class="text">Total Attendance Percentage :-</li>65%<span></span>
          </ul>
          <a href="#" class="btn btn-primary">Check Details Report (Month)</a>
        </div>
      </div>
</div>
