<div class="mainBoX">
    <div class="container">
  
        <div class="">
           <div class="container-fluid border border-success rounded-pill">
            <h2  class="text-center py-3 ">ADMIN SECTION</h2>
           </div>
        </div>
    </div>
    
            <div class="row container">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top pt-2 rounded-5" src="../../../assets/img/1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Add/Manage Student Details</h5>
                      <p class="card-text">To Add/Manage student details......</p>
                      <a routerLink="../add-studentadmin" class="btn btn-primary">Click Here</a>
                    </div>
                  </div>
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top pt-2 rounded-5" src="../../../assets/img/1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Add/Manage Teacher Details</h5>
                      <p class="card-text">To Add/Manage Teacher details................</p>
                      <a href="#" routerLink="../teacherDetails" class="btn btn-primary">Click Here</a>
                    </div>
                  </div>
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top pt-2 rounded-5" src="../../../assets/img/1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Take & Manage Attendance</h5>
                      <p class="card-text">Take and Manage Student Attendance Sheet....</p>
                      <a href="#" class="btn btn-primary" routerLink="../add121">Click Here</a>
                    </div>
                  </div>
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top pt-2 rounded-5" src="../../../assets/img/1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Report Generate</h5>
                      <p class="card-text">Generate Student Details..............................</p>
                      <a href="#" class="btn btn-primary" routerLink="../generate">Click Here</a>
                    </div>
                  </div>
                 
                  </div>
                  
                 
    
    
    
    
</div>
            
                <!-- <div class="listblock">
            <ol>
                <li><a routerLink="">Add/Manage Student Details.</a></li>
                <li><a routerLink="">Add/Manage Teacher Details.</a></li>
                <li><a routerLink="">Take Attendance.</a></li>
                <li><a routerLink="">Manage Attendance of Student.</a></li>
                <li><a routerLink="">Generate Attendance Report.</a></li>
                <li><a routerLink="">Log out</a></li>
            </ol>
        </div>   -->
        
    

