.btn-1{

    position: absolute;
    left: 250px;
    width: 150px;
    background-color: green;
    color: whitesmoke;
}
.add-data1 input{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}
.head button{
    margin-left: 1350px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.functionCal{
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    margin-top: 5px;
}